.question-list {
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.question-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    border-bottom: 1px solid #151414;
    border: 1px solid #0c0b0b;
}

.question-link {
    text-decoration: underline;
    color: blue; 
    padding: 0; 
    min-width: 0; 
    flex-grow: 1; 
    margin-right: 10px;
}

.delete-button {
    color: rgb(200, 13, 13);
}